{% extends 'index.html' %}
{% block navbar %}
                  <li><a href="../">Home</a></li>
                  <li><a href="/aboutus/">About Us</a></li>
                  <li><a href="/services/">Services</a></li>
                  <li><a href="/portfolio/">Portfolio</a></li>
                  <li class="active"><a href="/blog/">Blogs</a></li>
                  <!-- <li><a href="/career/">Careers</a></li> -->
                  <li><a href="/contactus/">Contact Us</a></li>
                  <li><a href="" data-toggle="modal" data-target="#modalLoginForm">Join Nerdware</a></li>
{% endblock %}
{% block content %}
{% endblock %}