// COLOR
.color-white{
	color: $color-white;
}

.color-black{
	color: $color-black;
}

.color-orange{
	color: $color-nerdware-orange;
}

.color-red-pink{
	color: $color-nerdware-red-pink;
}

.color-red-light{
	color: $color-nerdware-red-light;
}

.color-gray-dark{
	color: $color-nerdware-gray-dark;
}

.color-gray-light{
	color: $color-nerdware-gray-light;
}


// BACKGROUND
.bg-white{
	background: $color-white;
}

.bg-black{
	background: $color-black;
}

.bg-section{
	background: $color-section;
}

.bg-orange{
	background: $color-nerdware-orange;
}

.bg-red-pink{
	background: $color-nerdware-red-pink;
}

.bg-red-light{
	background: $color-nerdware-red-light;
}

.bg-gray-dark{
	background: $color-nerdware-gray-dark;
}

.bg-gray-light{
	background: $color-nerdware-gray-light;
}

.bg-yellow{
	background: #fece09;
}

.bg-orange-light{
	background: #ec9a18;
}