$color-white : #FFFFFF;
$color-black : #000000;
$color-gray-light : #F5F5F5;
$color-section: #F1F1F1;

$color-nerdware-orange: #F17127;
$color-nerdware-red-pink: #BC1F5C;
$color-nerdware-red-light: #EF4035;
$color-nerdware-gray-dark: #333333;
$color-nerdware-gray-light: #FBFCFD;