{% extends 'index.html' %}
{% load static %}
{% block css %}{% endblock css %}
{% block navbar %}
<li><a href="/">Home</a></li>
<li><a href="/aboutus/">About Us</a></li>
<li><a href="/services/">Services</a></li>
<li class = "active"><a href="/portfolio/">Portfolio</a></li>
<li><a href="/blog/">Blogs</a></li>
<!-- <li><a href="/career/">Careers</a></li> -->
<li><a href="/contactus/">Contact Us</a></li>
{% endblock navbar %}
{% block content %}
      
      <!-- START SCOPE SUB HEADER -->
      <section class="sub-header parallax-nerdware bg-portfolio">
        <div class="bg-overlay-full"></div>
        <div class="container">
          <div class="col-md-12">
            <div class="title">
              Our Portfolio
            </div>
            <div class="description">
              Nerdware Systems is a team of innovative thinkers who believe in the power of hardwork, analytics, problem solving and tech entrepreneurship.
              We strongly believe in the potential of technology to solve societal problems
              <br> 
             Our solution includes climate change adaptation, where we are implementing systems for environment conservation using IoT. Moreover, we are building health care systems using IoT that will ensure medical delivery will be more efficient.
             Equally important, we are running an initiative to reduce poverty through digital literacy dubbed the "Cloud Kids Mashinani". This program seeks to train kids living in remote areas so that they can gain skills which are essential to survive in the digital world.  
              <br>Let's solve these societal problems together!

            </div>
          </div>
        </div>
      </section>
      <!-- END SCOPE SUB HEADER -->
      
      <!-- START SCOPE LIST PORTFOLIO -->
      <section class="list-portfolio bg-white">
        <div class="container">
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-1">
              <div class="box-image">
                <img src="{% static 'images/portfolio/kids.jpeg' %}" alt="Portfolio Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>Cloudkids</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div id = "contact-nerdware" class="container">      <!-- START SCOPE LIST INFORMATION CAREER -->
                        <p style="font-family:courier;">
                          <center>
                          <h1>
                          INTRODUCTION
                          <br>
                          <br>
                            PROBLEM
                            <br>
                            <br>
                          </h1>
                        </center>
                            The best way to seize the opportunities of the digital economy is to start young. Bill Gates, the founder of Microsoft, started coding when he was thirteen, while Facebook founder, Mark Zuckerberg, began his programming journey at eight years old. The richest man in the world, Elon Musk, started coding at the age of ten. Companies like Twitter, Apple and Google were started by people who were exposed to technology at a young age.
                            It is quite disquieting that thousands of kids living in rural areas in Kenya do not have access to computers and have never interacted with them. These kids are missing out on the endless possibilities provided by digital literacy, and we may be blocking the emergence of a Larry Page or a Jack Dorsey. Digital literacy is very important and could be the engine to drive the economy and inspire progress. Kids in rural areas are usually left behind and become isolated, unable to provide digital solutions to problems in the society due to lack of equipment and effective training.
                            Most services being offered by the government have been moved online. Activities such as applying for schools, filing taxes and applying for a passport are being done online. How is a kid who does not know how to use a computer access these essential services? Digital literacy has transformed from being an “extra” skill to a necessity.
                            Equally important, the world is moving towards the fourth industrial revolution, an age characterized by technologies such as artificial intelligence, blockchain, internet of things and robotics. This is an opportunity for Kenya to revolutionize her economy, provide employment to the youth and to establish herself as a leader in providing these technologies to the world. Is Kenya prepared for the fourth industrial revolution? Without focusing on digital literacy for all kids, the fourth industrial revolution may become a dream that passes like a cloud.
                            We need to put in place mechanisms that will ensure every kid gets access to digital literacy and spark their imagination to the endless possibilities of the world. For people to be able to pull themselves by their bootstraps, they first need to have boots. We seek to provide kids with digital literacy boots so that they can be able to pull themselves by their bootstraps.
                            <center>
                              <h3>
                            <br>OUR SOLUTION
                            </h3>
                            </center>
                            <br>We have developed a sustainable program template to deliver the necessary technological resources to schools in rural communities of Kenya. Through collaboration with local and international partners, we aim to establish computer centers in rural areas so that we can provide these kids with the same opportunities as those in urban areas. Our team of professional computer scientists will be responsible for teaching the kids how to use these computers, and introduce them into the world of technology.
                            Our initiative takes a unique approach in the way we offer our training. Instead of passive theoretical lessons, we will be providing hands-on-training where the kids will be able to actively interact with technology. We are developing computer software and websites specifically for the program that effectively delivers content through a combination of visual, audio and game elements. This will ensure that kids comprehend
                            After the kids know how to use a computer, we will be teaching them how to code. Coding is a skill that can be developed from a young age and will enable the kids to tap into their creativity and become problem solvers. This is a skill that can transform their lives in future by helping them secure jobs; or they can come up with business solutions through the skills acquired that will be a source of employment for others.
                            Equally important, the program will be used as a mentorship opportunity for young kids. We will provide them with information to guide them in their educational journey to ensure that they succeed in future. The program will be used to Foster the leadership skills, public speaking skills and boost the self-confidence of kids. This will ensure we properly equip the future generation to be able to achieve their full potential.
                            Our goal is to reach and train a million children by 2024.
                            <br>
                            <center><h3>BENEFICIARIES</h3></center>
                            <br>
                            The beneficiaries of this program will be kids between 8 to 12 years old. Children at this age can comfortably apply thinking and are able to form relationships between subjects that are related. At this age, kids will be able to adapt to technology like fish in water.
                            <center>
                              <h3>
                            <br>
                            KEY ACTIVITIES
                            <br>
                            </h3>
                            </center>
                            The key activities of the initiative include:
                            <br>
                            <br> 1.	Teaching kids how to use computers - The initial focus of the program is to teach kids how to use a computer. These include:
                            <br>●	The basics of how a computer works, including basic keyboard and mouse skills. We intend to teach kids touch typing, which is typing without looking at the keyboard. This will build the muscle memory of the kids and enable them to type faster, a skill that will be invaluable in life. We will also teach them essential keyboard shortcuts.
                            <br> ●	Basic software and applications and how they work. This will include how to use browsers such as Chrome, how to use Microsoft Word and Excel, Google Apps and file storage programs like Windows Explorer
                            <br> ●	Internet Safety. In a world where the internet can be used to do harm, we must teach kids about internet safety. This includes ways to keep personal information private and using social media responsibly
                            <br> 2.	Teaching kids how to do effective research on the internet - Researching is an invaluable skill that we would like to introduce to the kids early. We will teach the kids how to effectively research their school projects, show them how to spot websites they can trust for information and how to give credit or cite sources of materials they have sourced online.
                            <br>3.	Teaching kids how to code - After establishing a strong foundation on the basics of computers, we will introduce kids to coding. Coding is writing a set of instructions in a programming language that a computer can understand to instruct the computer to perform a specific set of actions. This will enable the kids to know how to create websites, apps and plugins which can be used to solve problems in the community. Programming will enable the kids understand the technologies that run the world and allow them from being consumers of technology to creators. Learning programming at a young age will prepare them for emerging technologies such as artificial intelligence, robotics and virtual reality.
                            <br> 4.	Teaching kids to have an astute command of English as a second language - One of the challenges facing kids in rural areas is using English as a second language. English is used as a language of instruction in schools, and a kid who is unable to effectively use the language will find it difficult to understand the subjects being taught. We will provide English coaching through sessions of reading books online, listening to podcasts and using videos to enhance the proficiency of the kids.
                            <br>5.	Mentorship Program - We will provide mentorship sessions to the kids to motivate them to remain focused and to guide them to the right path. We will organize sessions to build their presentation skills, show them how to give speeches and programs to build their self-esteem and confidence.
                            <center>
                              <h3>
                            <br>MODES OF TEACHING<br>
                            </h3>
                            </center>
                            To be able to relay the information in the most effective way, we will be employing a hybrid of different methods and elements. These include:
                            I) Collaborative Learning – Kids will be able to participate in group discussions where
                            they are able to collaborate with other kids in their learning journey.
                            II) Learning through games – We are currently developing a software kids can use for
                            learning based on a game. This will make it more enjoyable to learn and will motivate the
                            kids in their learning journey.
                            III) Video – We will create pre-recorded videos that will be able to guide kids as they learn
                            so that they will be able to review concepts they may not have understood.
                            IV) Live training – We will be holding live online sessions where we will teach kids virtually
                            and they will be able to ask questions in real time
                            
                            <center>
                              <h3><br> KEY RESOURCES<br></h3>
                              </center>
                            
                            <br>We will first need the basic resources that will enable us to start operations. Basic resources are those that are of the most necessity. These include:
                            <br>1.	Classroom/Community Space - We will require a classroom or a community space that will enable us to store the computing equipment and also act as the training space. We are seeking a space that can host at least twenty-five kids. We endeavor to have spaces in several areas to be able to reach more kids
                            <br>2.	Furniture - We will require furniture such as tables, chairs, whiteboards, blackboards and computer stands.
                            <br>3.	Computing Equipment - We will require computing equipment with which to teach kids. These include computers, display screens, webcams and projectors.
                            <br>4.	Power and internet - We will need electricity and an internet connection
                            <br>5.	Supervisor - We will require a supervisor to ensure the safety of the equipment and that the facility is well taken care of.
                            
                            <br>The secondary resources include:<br>
                            <br>1.	Solar Panels - Some schools in rural areas do not have access to electricity. These may be a major hindrance to penetrating into remote areas of the country. In the near future, we would like to be able install solar panels to training centers in areas not connected to the grid. This will ensure that all kids get access to digital literacy.<br>
                            <br>2.	Virtual Reality Headsets - In the near future, we would like expose kids to the world of virtual reality. Virtual reality is a computer-generated environment with scenes and objects that appear to be real, making the user feel they are immersed in the surroundings. In developed countries, kids have begun using virtual reality headsets to accelerate learning. We will seek to introduce this to kids. Instead of describing to kids how the heart pumps blood, kids will be immersed in a virtual world and exactly experience how it works. Instead of describing Jomo Kenyatta and the Mau Mau Movement in the 1950s and 60s, kids will be immersed in the world and get to experience.<br>
                            <center>
                              <h3>
                                <br>OUR INSPIRATION<br>
                            </h3>
                            </center>
                            Two events were instrumental in sparking our passion for spreading digital literacy to underserved rural communities.
                            First, the story of Martin, a kid with whom we joined in the first year of university to study Information Technology. On the first day of the lecture, the professor requested Martin to set up a computer so that we could use it to project notes. Martin seemed unsure where to start and told the professor that he does not have experience with computers. The professor was surprised, since you do not need any experience to start a computer. The class burst into laughter, another kid took over setting up the computer and the class continued as usual.
                            It was only later that we came to realize that Martin had never interacted with a computer before. In his own words, Martin said, “Computers are just things that we hear about, but have not seen or touched.” Most kids in rural areas in Kenya will interact with a computer for the first time when they go to the university. For Martin, the learning curve was steep because he first had to learn how to first use a computer so that he could effectively participate in class activities.
                            Our project is dedicated to kids who may not have access to digital skills. These kids are usually smart and with a bright future, but they are not provided with the opportunity to participate in the digital world. Just like Martin, these kids initially find it difficult to fit into the digital world. We seek to empower kids from underserved rural areas with digital and computer literacy.
                            Equally important, we were inspired by the limitless opportunities provided by digital skills. We would like to spark curiosity, innovation and entrepreneurship in the younger generations. We seek to plant a seed that will grow, blossom and produce fruits of employment opportunities, economic progress and a computer literate society.
                            </p>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-2">
              <div class="box-image">
                <img src="{% static 'images/portfolio/mikrobiz.png' %}" alt="Helpdesk Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>Mikrobiz | Microfinance</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <div class="image">
                          <img src="{% static 'images/portfolio/mikrobiz.png' %}" alt="Skillagogo">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <aside class="sidebar">
                        <div class="title-sidebar">
                          Project Info
                        </div>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-user"></i>
                                Client
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-tag"></i>
                                Type
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                Location
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-server"></i>
                                Technolgies
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sasa sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                        </div>
                        <a href="#" class="btn btn-lg btn-block btn-nerdware-red">
                          <i class="fa fa-link"></i>
                          Link website
                        </a>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-3">
              <div class="box-image">
                <img src="{% static 'images/portfolio/mirakle.png' %}" alt="Portfolio Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>Mirakle Automotif</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <div class="image">
                          <img src="{% static 'images/portfolio/mirakle.png' %}" alt="Skillagogo">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <aside class="sidebar">
                        <div class="title-sidebar">
                          Project Info
                        </div>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-user"></i>
                                Client
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-tag"></i>
                                Type
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                Location
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-server"></i>
                                Technolgies
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                        </div>
                        <a href="#" class="btn btn-lg btn-block btn-nerdware-red">
                          <i class="fa fa-link"></i>
                          Link website
                        </a>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-4">
              <div class="box-image">
                <img src="{% static 'images/portfolio/multibangunpatria.png' %}" alt="Portfolio Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>Multi Bangun Patria</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <div class="image">
                          <img src="{% static 'images/portfolio/multibangunpatria.png' %}" alt="Skillagogo">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <aside class="sidebar">
                        <div class="title-sidebar">
                          Project Info
                        </div>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-user"></i>
                                Client
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-tag"></i>
                                Type
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                Location
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-server"></i>
                                Technolgies
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                        </div>
                        <a href="#" class="btn btn-lg btn-block btn-nerdware-red">
                          <i class="fa fa-link"></i>
                          Link website
                        </a>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-5">
              <div class="box-image">
                <img src="{% static 'images/portfolio/rkpd_tasikmalaya.png' %}" alt="Portfolio Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>rkpd kota tasikmalaya</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <div class="image">
                          <img src="{% static 'images/portfolio/rkpd_tasikmalaya.png' %}" alt="Skillagogo">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <aside class="sidebar">
                        <div class="title-sidebar">
                          Project Info
                        </div>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-user"></i>
                                Client
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-tag"></i>
                                Type
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                Location
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-server"></i>
                                Technolgies
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                        </div>
                        <a href="http://rkpd.tasikmalayakota.go.id/" target="_blank" class="btn btn-lg btn-block btn-nerdware-red">
                          <i class="fa fa-link"></i>
                          Link website
                        </a>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="image-portfolio" data-toggle="modal" data-target="#modal-portfolio-6">
              <div class="box-image">
                <img src="{% static 'images/portfolio/plasadana.png' %}" alt="Portfolio Nerdware System Technologies">
              </div>
            </a>
            <div class="modal modal-fullscreen fade" id="modal-portfolio-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-portfolio-detail">
                    <div class="col-md-12">
                      <div class="title-top">
                        <span>Plasa Dana | Your inspiration Your Money</span>
                        <div class="icon">
                          <button type="button" class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <div class="image">
                          <img src="{% static 'images/portfolio/plasadana.png' %}" alt="Skillagogo">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <aside class="sidebar">
                        <div class="title-sidebar">
                          Project Info
                        </div>
                        <div class="panel-group">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-user"></i>
                                Client
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-tag"></i>
                                Type
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-map-marker"></i>
                                Location
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <i class="fa fa-server"></i>
                                Technolgies
                              </h4>
                            </div>
                            <div class="panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ullam, repellat delectus sit asperiores, necessitatibus porro nisi illum voluptatum ab repudiandae placeat minus possimus nemo velit quos qui id ipsam.
                            </div>
                          </div>
                        </div>
                        <a href="http://plasadana.com/" target="_blank" class="btn btn-lg btn-block btn-nerdware-red">
                          <i class="fa fa-link"></i>
                          Link website
                        </a>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="text-center">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!-- END SCOPE LIST PORTFOLIO -->

      <!-- START SCOPE INTRODUCE CONTACT US -->
      <section class="parallax-nerdware bg-portfolio introduce-wrapper contact-us">
        <div class="bg-overlay-full"></div>
        <div class="container">
          <div class="col-md-12">
            <div class="box-title-desc">
              <div class="title color-white">
                <span>Contact Us</span>
              </div>
              <div class="desc color-white">
                Want to connect with us? We are readily available on phone, email and various social media channels. We will be glad to hear from you!
              </div>
              <a href="contactus/" class="btn btn-nerdware-red btn-lg">
                <i class="fa fa-envelope"></i>
                info.nerdwaretechnologies@gmail.com
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- END SCOPE INTRODUCE CONTACT US -->
{% endblock content %}
{% block script %}
  <script>
    // .modal-backdrop classes
    $(".modal-transparent").on('show.bs.modal', function () {
      setTimeout( function() {
        $(".modal-backdrop").addClass("modal-backdrop-transparent");
      }, 0);
    });

    $(".modal-transparent").on('hidden.bs.modal', function () {
      $(".modal-backdrop").addClass("modal-backdrop-transparent");
    });

    $(".modal-fullscreen").on('show.bs.modal', function () {
      setTimeout( function() {
        $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
      }, 0);
    });

    $(".modal-fullscreen").on('hidden.bs.modal', function () {
      $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
    });
  </script>
  {% endblock script %}